/* Global -------------------- */
*, *:before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}
    @media (min-width: 600px) {
        html {
            font-size: 105%;
        }
    }
    @media (min-width: 900px) {
        html {
            font-size: 110%;
        }
    }
    @media (min-width: 1200px) {
        html {
            font-size: 120%;
        }
    }

body {
    background-color: #f8f8f8;
}

.header, .footer, .content {
    padding: .493rem 1.424rem 0;
}
    @media (min-width: 600px) {
        .header, .footer, .content {
            padding: .493rem 3.653rem 0;
        }
    }
    @media (min-width: 900px) {
        .header, .footer, .content {
            padding: .493rem 6.583rem 0;
        }
    }


.header {
    background-color: #ffffff;
    display: block;
    grid-column: 1 / -1;
    margin: 0;
    position: sticky;
    top: 0;
    z-index: 2;
}

.content {
    background: #f8f8f8 url(../images/bg-image-brand-s.png) no-repeat top right;
    color: #2f2f2f;
    transition: all .4 ease-in;
}
@supports (display: grid) {
    @media (min-width: 600px) {
        .content {
            background: #f8f8f8 url(../images/bg-image-brand-m.png) no-repeat top right;
            display: grid;
            grid-gap: 0 3.653rem;
            grid-template-columns: minmax(20rem, 30rem) minmax(5rem, 10rem);
        }
    }
    @media (min-width: 900px) {
        .content {
            background: #f8f8f8 url(../images/bg-image-brand-l.png) no-repeat top right;
            grid-gap: 0 5.202rem;
            grid-template-columns: minmax(30rem, 40rem) minmax(5rem, 10rem);
        }
    }
}

.content-wrapped {
    max-width: 35rem;
}

.style {
    background: #f8f8f8 url(../images/bg-image-style-s.png) no-repeat top right;
}
    @media (min-width: 600px) {
        .style {
            background: #f8f8f8 url(../images/bg-image-style-m.png) no-repeat top right;
        }
    }
    @media (min-width: 900px) {
        .style {
            background: #f8f8f8 url(../images/bg-image-style-l.png) no-repeat top right;
        }
    }

.components {
    background: #f8f8f8 url(../images/bg-image-components-s.png) no-repeat top right;
}
    @media (min-width: 600px) {
        .components {
            background: #f8f8f8 url(../images/bg-image-components-m.png) no-repeat top right;
        }
    } 
    @media (min-width: 900px) {
        .components {
            background: #f8f8f8 url(../images/bg-image-components-l.png) no-repeat top right;
        }
    } 

.nopic {
    background: #f8f8f8;
}

.footer {
    background: #f8f8f8 url(../images/mom-walks.png) no-repeat top right;
    padding-bottom: 5.852rem;
}

/* Navigation -------------------- */

.nav-main ul {
    display: flex;
    grid-auto-flow: column;
    justify-content: space-between;
    list-style: none;
    max-width: 15rem;
}

.nav-main li, .nav-aside li {
    font: 700 1rem/1.2 'Raleway', Helvetica, sans-serif;
    margin-right: 1.602rem;
}

.nav-main a:link, .nav-main a:visited,
.nav-aside a:link, .nav-aside a:visited {
    background-color: transparent;
    color: #2f2f2f;
    cursor: pointer;
    fill: #2f2f2f;
    padding-left: 0;
}

.nav-main a:hover, .nav-main a:visited:hover,
.nav-aside a:hover, .nav-aside a:visited:hover {
    fill: #f96c53;
    text-decoration: none;
}

a.current:link, a.current:visited {
    border-bottom: 3px solid #f96c53;
    border-radius: 0;
    cursor: unset;
    padding: 0;
    text-decoration: none;
}

.nav-aside ul {
    display: block;
    list-style: none;
    margin-top: 3rem;
    position: unset;
}
    @supports (display: grid) {
        @media (min-width: 600px) {
            .nav-aside ul {
                position: absolute;
                top: 8rem;
            }
        }
    }

.nav-aside li {
    margin: 1.125rem 0;
}

.upcoming {
    font: italic 1rem/1.6 'Georgia', Helvetica, sans-serif;
}

.disabled {
    color: #4f4f4f;
}

/* Texts -------------------- Modular scale of a 1.125 ratio */

p, li {
    font: normal 1rem/1.6 'Georgia', Times, serif;
    margin: 1.125rem 0;
}

ul {
    list-style-type: square;
    padding-left: 0;
    list-style-position: outside;
}

h1 {
    font: 700 3.247rem/1.2 'Raleway', Helvetica, sans-serif;
}

h2 {
    font: 700 1.602rem/1.2 'Raleway', Helvetica, sans-serif;
}

h3 {
    font: 700 1.424rem/1.2 'Raleway', Helvetica, sans-serif;
}

h4 {
    font: 700 1.266rem/1.2 'Raleway', Helvetica, sans-serif;
}

h5 {
    font: 700 1.125rem/1.2 'Raleway', Helvetica, sans-serif;
}

.heading {
    margin: 2.566rem 0 1.125rem;
}

.tagline {
    font: italic 1.266rem/1.6 'Georgia', Times, serif;
}

.intro {
    font: italic 1.125rem/1.6 'Georgia', Times, serif;
}

.strong {
    font-weight: bold;
}

.subtle {
    font-style: italic;
}

.intro-hr {
    background-color: #f96c53;
    border: none;
    color: #f96c53;
    height: .555rem;
    margin: 2rem 0 0;
    width: 6.583rem;
}

figcaption, .note {
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 1.125rem;
}

.quote {
    background-color: #fdfdfd;
    border-radius: 3px;
    box-shadow: 0 .25rem 2rem #dddddd;
    font-size: 1.125rem;
    margin: 2.566rem -3rem;
    padding: 1rem 3rem;
}
    @media (min-width: 600px) {
        .quote {
            margin: 2.566rem 0;
        }
    }

.quote p {
    text-indent: -.5rem;
}

.with-pic {
    padding-top: .25rem;
}

/* Links -------------------- */

a:link, a:visited, .cta:link, .cta:visited {
    background-color: #fcdad4;
    border-radius: 3px;
    color: #2f2f2f;
    display: inline-block;
    padding: 0 .25rem;
    transition: all .4s ease-in;
}

a:hover, a:visited:hover, a:focus,
.cta:hover, .cta:visited:hover, .cta:focus {
    background-color: #fba798;
    text-decoration: none;
}

.cta:link, .cta:visited {
    font: 700 1.25rem/1.6 'Raleway', Helvetica, sans-serif;
    margin: 1.44rem 0 1.2rem;
    padding: .25rem .5rem;
}

.heading a:link, .heading a:visited  {
    background-color: transparent;
    color: #dd2808;
}

.heading a:hover, .heading a:visited:hover  {
    text-decoration: none;
}

a.skip {
    left: -999px;
    overflow: hidden;
    position: absolute;
    top: 1rem;
    z-index: -999;
}

a.skip:focus, a.skip:active {
    background-color: #f96c53;
    border-radius: 3px;
    color: #2f2f2f;
    display: block;
    font: 700 .75rem/1.2 'Raleway', Helvetica, sans-serif;
    left: 0;
    overflow: auto;
    padding: .5rem;
    top: 0;
    z-index: 999;
}

.xtarget:target {
    margin-top: -3rem;
    padding-top: 7rem;
}

.logo {
    width: 3rem;
}

/* Buttons -------------------- */

.btn, .btn-sec {
    border-radius: 3px;
    cursor: pointer;
    font: 700 1rem/1.2 'Raleway', Helvetica, sans-serif;
    padding: .5rem .75rem;
    text-decoration: none;
}

.btn {
    background-color: #dd2808;
    border: 2px solid transparent;
    color: #f8f8f8;
}

.btn:hover {
    background-color: #a71e06;
}

button.bg--light:hover, button.bg--accent:hover {
    background-color: #fcdad4;
}   

.btn-sec {
    background-color: #f8f8f8;
    border: 2px solid #dd2808;
    color: #dd2808;
}

.btn-sec:hover {
    background-color: #ffffff;
}

button.bd--accent:hover, button.bd--light:hover {
    background-color: #1f1f1f;
}

/* Images -------------------- */

img {
    border-radius: 3px;
    max-width: 100%;
    margin: 1rem 0;
}

.persona {
    max-width: 15rem;
}

.min-long {
    height: auto;
    max-width: 180px;
}

.min-short {
    height: auto;
    max-width: 120px;
}

.logo-colour {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

/* Colour -------------------- */

/* Colour palette 
    #2f2f2f black
    #f8f8f8 white
    #f0f0f0 light grey
    #fcdad4 lightest accent
    #fba798 light accent
    #f96c53 accent
    #dd2808 dark accent
    #a71e06 darkest accent
*/

.square {
    border: 2px solid transparent;
    border-radius: 3px;
    display: inline-block;
    height: 8rem;
    margin: .75rem 1rem .5rem 0;
    padding: .5rem;
    width: 8rem;
}

.border {
    border: 1px solid #2f2f2f;
}

.border-light {
    border: 1px solid #f0f0f0;
}

/* Examples -------------------- */

.table {
    margin: 3.653rem 0;
}

.type-scale {
    border-bottom: 2px dotted #cccccc;
    display: block;
}
    @media (min-width: 1200px) {
        .type-scale {
            align-items: center;
            display: flex;
            justify-content: space-between;
        }
    }

.example {
    line-height: .5em;
    margin: 1.602rem 0;
}
    @media (min-width: 1200px) {
        .example {
            line-height: 1em;
            margin: 2.027rem 0;
        }
    }

    code {
        background-color: #f0f0f0;
        border-radius: 3px;
        color: #2f2f2f;
        display: block;
        margin: -1rem 0;
        overflow: scroll;
        padding: 0 2rem 1rem;
    }

    .code-in-text {
        color: #a71e06;
        display: inline;
        padding: .25rem;
    }

    .code-accent {
        color: #a71e06;
    }

/* Accordion -------------------- */

[hidden] {
    display: none;
    margin-top: 0;
}

/* button::-moz-focus-inner {
    border: 0;
} */

/* fix for IE */
div[tabindex]:focus {
    outline: none;
}

.component-container {
    border-bottom: 2px dotted #cccccc;
    margin-bottom: 1rem;
    padding: .125rem 0 1rem;
}

.component-intro, .heading-button {
    align-items: center;
    display: flex;
    justify-content: space-between;
    line-height: 1;
}

.component-intro button {
    background: 0;
    border: 0;
    border-bottom: 2px solid #f8f8f8;
    color: #dd2808;
    margin: 0;
}

.code-example {
    background-color: #f0f0f0;
    border-radius: 3px;
    justify-content: left;
    margin: 1rem 0;
    padding: 1rem;
}

.component h4 {
    cursor: pointer;
    margin: 1rem 0;
}

.component-intro ~ .component-intro {
    border-top: 1px dashed;
    padding-top: 1rem;
}

button i::before {
    color: #dd2808;
}

[data-expands] svg {
    height: 1.25rem;
    width: 1.25rem;
}

[data-expands][aria-expanded="true"] .up-strut {
    display: none;
}

[data-expands]:hover svg g {
    color: #dd2808;
}

@media print {
    [hidden] {
        display: block !important;
    }
    [data-expandall], [data-expands], .examples + p {
        display: none !important;
    }
}

/* Modifiers -------------------- */

.bg--dark {
    background-color: #2f2f2f;
    color: #f8f8f8;
}

.bg--darkest-accent {
    background-color: #a71e06;
    color: #ffffff;
}

 .bg--dark-accent {
     background-color: #dd2808;
     color: #ffffff;
 }

.bg--accent {
    background-color: #f96c53;
    color: #2f2f2f;
}

.bg--light-accent, ::selection {
    background: #fba798;
    background-color: #fba798;
    color: 2f2f2f;
}

.bg--lightest-accent {
    background-color: #fcdad4;
    color: 2f2f2f;
}

.bg--light {
    background-color: #f8f8f8;
    color: #2f2f2f;
}

.bd--dark {
    border: 2px solid #2f2f2f;
    color: #2f2f2f;
}

.bd--accent {
    background-color: #2f2f2f;
    border: 2px solid #f96c53;
    color: #f96c53;
}

.bd--light {
    background-color: #2f2f2f;
    border: 2px solid #f8f8f8;
    color: #f8f8f8;
}

.bg--photobg1 {
    background: url(../images/photo-montreal.jpg) no-repeat center right;
}

.bg--photobg2 {
    background: url(../images/photo-train.jpg) no-repeat center right;
}

.bg--photobg3 {
    background: url(../images/photo-bridge.jpg) no-repeat center right;
}

.bg--photobg4 {
    background: url(../images/photo-flowers.jpg) no-repeat center right;
}

.bg--photobg5 {
    background: url(../images/photo-bus.jpg) no-repeat center right;
}

.bg--regular {
    background: #f0f0f0 url(../images/photo-illu-light.png) no-repeat center center;
}

.bg--invert {
    background: #2f2f2f url(../images/photo-illu.png) no-repeat center center;
}

.nmgn:link {
    margin: 0;
}

.nhdn:link /* skip link example */ {
    background-color: #f96c53;
    font: 700 .75rem/1.2 'Raleway', Helvetica, sans-serif;
    padding: .5rem;
    position: unset;
    text-decoration: none;
    z-index: 1;
}

a.brdbtm--light:link, a.brdbtm--light:visited /* current's light border */ {
    border-bottom: 3px solid #ffffff;
}

a.clr--light:link, a.clr--light:visited,
.clr--light /* light colour links */ {
    color: #f8f8f8;
}

.clr--dark-ish {
    color: #9f9f9f;
}

.clr--accent {
    color: #f96c53;
}

.xmp-pdg {
    padding-left: 3rem;
}

.xmp ul {
    margin: 0;
    position: initial;
}

/* .block {
    display: block;
    grid-column: 1 / -1;
    border: 1px solid green;
} */