/* Global styles ------------------------------ */

*, *:before, *:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}
    @media (min-width: 600px) {
        html {
            font-size: 105%;
        }
    }
    @media (min-width: 900px) {
        html {
            font-size: 110%;
        }
    }
    @media (min-width: 1200px) {
        html {
            font-size: 120%;
        }
    }

body {
    background-color: #f8f8f8;
    color: #2f2f2f;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    background-color: #ffffff;
    border-bottom: 0.25rem solid #FA7057;
    margin: 0 auto;
    padding: 0.25rem 0;
    position: fixed;
    text-align: center;
    top: 0;
    transition: all 0.4s ease-in;
    width: 100%;
    z-index: 1;
}
    @media (min-width: 600px) {
        nav {
            padding: 0.5rem 0;
        }
    }

.secondary {
    background-color: transparent;
    border-bottom: none;
    margin: 0;
    padding: 0 0 2rem 0; 
    position: relative;
    text-align: left;
    top: 2rem;
    z-index: 0;
}

header {
    background-color: #FA7057;
    background-image: url(../images/moms-hug.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
    padding: 10rem 0 4rem 0;
    position: relative;
    text-align: center;
}

#styles {
    background-color: #FA7057;
    background-image: url(../images/moms-profile.png);
}

#patterns {
    background-color: #FA7057;
    background-image: url(../images/moms-hair.png);
}

main {
    padding: 0.5rem 0;
}

.wrapper {
    padding: 0;
    width: 100%;
}

.content-wrap {
    margin: 0 auto;
    max-width: 25rem;
    transition: all 0.4s ease-in;
    width: 85%;
}
    @media (min-width: 600px) {
        .content-wrap {
            max-width: 30rem;
            width: 80%;
        }
    }
    @media (min-width: 900px) {
        .content-wrap {
            max-width: 35rem;
        }
    }
    @media (min-width: 1200px) {
        .content-wrap {
            max-width: 36rem;
        }
    }

.main-content-wrap {
    margin: 0 auto;
    max-width: 25rem;
    transition: all 0.4s ease-in;
    width: 85%;
    box-sizing: border-box;
}
    @media (min-width: 600px) {
        .main-content-wrap {
            margin: 0;
            max-width: 45rem;
            width: 80%;
        }
    }
    @media (min-width: 900px) {
        .main-content-wrap {
            max-width: 50rem;
        }
    }
    @media (min-width: 1200px) {
        .main-content-wrap {
            max-width: 55rem;
        }
    } 

aside {
    display: block;
    width: 100%;
}
    @media (min-width: 600px) {
        aside {
            display: inline-block;
            vertical-align: top;
            width: 30%;
        }
    }

article {
    display: block;
    width: 100%;
}
    @media (min-width: 600px) {
        article {
            display: inline-block;
            vertical-align: top;
            width: 69%;
        }
    }

footer {
    background-image: url(../images/mom-walks.png);
    background-position: top right;
    background-repeat: no-repeat;
    padding: 3rem 0;
    text-align: center;
}

.hidden {
    display: none;
}

::selection {
    background: #FA7057;
  }

  code {
      background-color: #FA7057;
      color: #2f2f2f;
      display: block;
  }


/* Images ------------------------------ */

img {
    width: 100%;
    margin: 1.5rem 0;
}

.persona {
    display: inline;
    margin: 0.5rem auto 1rem auto;
    max-width: 15rem;
}

.container {
    display: inline-block;
    height: 3rem;
    padding-top: 20%;
    position: relative;
    width: 100%
}

.logo {
    padding: 1rem 0;
}

.logo-colour {
    margin: 0 auto;
    width: 100%;
    padding: 0;
}

.min-long {
    height: auto;
    max-width: 180px;
}

.min-short {
    height: auto;
    max-width: 120px;
}

/* Colour ------------------------------ */

/* Color palette 
    #2f2f2f black
    #f8f8f8 white
    #ffee55 yellow
    #fedb00 dark yellow
    #0055ff blue
    #1166ff light blue
    #cc00aa pink
    #dd33bb light pink

    #FA7057 accent
    #F85235 accent WCAG 1
    #A71E06 accent WCAG 2
*/

.square {
    background-color: #2f2f2f;
    color: #f8f8f8;
    display: inline-block;
    height: 8rem;
    margin: 0.75rem 1rem 0.5rem 0;
    padding: 0.5rem;
    width: 8rem;
}

#white {
    background-color: #f8f8f8;
    border: solid 1px #2f2f2f;
    color: #2f2f2f;
}

#accent {
    background-color: #FA7057;
    border: solid 1px #2f2f2f;
    color: #2f2f2f;
}

#blue {
    background-color: #A71E06;
    color: #f8f8f8;
}

#pink {
    background-color: #F85235;
    color: #f8f8f8;
}


/* Text styles ------------------------------ */

p, li {
    font-weight: 400;
    line-height: 1.6;
    margin: 1.125rem 0;
}

li {
    list-style-type: square;
}

.last {
    margin-bottom: 2.027rem;
}

h1, h2, h3, h4, h5  {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin: 2.281rem 0 1.125rem 0;
}

h1 {
    font-size: 2.027rem;
}

h2 {
    font-size: 1.802rem;
}

h3 {
    font-size: 1.602rem;
}

.quote h3 {
    margin-top: 1rem;
}

h4 {
    font-size: 1.266rem;
}

h5  {
    font-size: 1rem;
}

.intro {
    font-size: 1.125rem;
    font-style: italic;
    line-height: 1.6;
}

.accent {
    font-weight: bold;
}

.subtle {
    font-style: italic;
}

figcaption, .note {
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 1.5rem;
}

.quote {
    background-color: #ffffff;
    font-size: 1.125rem;
    margin: 4rem -3rem 3rem -3rem;
    padding: 2rem 3rem;
    width: fit-content;
}
    @media (min-width: 600px) {
        .quote {
            margin: 3.5rem 0 2.5rem 0;
            padding: 2rem 3rem;
        }
    }

.quote p {
    text-indent: -0.5rem;
}

.table {
    margin-bottom: 3.653rem;
}

.type-scale {
    border-bottom: 2px solid #FA7057;
}

.heading {
    display: block;
}
@media (min-width: 600px) {
    .heading {
        display: inline-block;
        padding-right: 3rem;
        width: 60%;
    }
}  

.heading-info {
    display: block;
}
@media (min-width: 600px) {
    .heading-info {
        display: inline-block;
        text-align: right;
    }
}


/* Buttons and links ------------------------------ */

.button:link, .button:visited {
    background: #2f2f2f;
    border: none;
    border-radius: 5rem;
    box-shadow: none;
    color: #f8f8f8;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    margin: 1.5rem 0 1rem 0;
    padding: 1.25rem 1.75rem;
    transition: all 0.4s ease-in;
}
.button:hover, .button:focus {
    background: #A71E06;
}
.button:visited:hover {
    background: #FA7057;
    color: #f8f8f8;
}

a:link {
    background-color: #FA7057;
    border-bottom: 0.025rem solid #2f2f2f;
    box-shadow: inset 0 -1px 0 #2f2f2f;
    color: #2f2f2f;
    display: inline-block;
    padding: 0 0.2rem;
    text-decoration: none;
    transition: all 0.4s ease-in;
}
a:hover, a:focus {
    background-color: #A71E06;
    color: #f8f8f8;
}
a:visited {
    background-color: #ffffff;
    color: #2f2f2f;
}
a:visited:hover {
    background-color: #F85235;
    color: #f8f8f8;
}

h2 a:link, h3 a:link {
    background-color: #f8f8f8;
    border-bottom: none;
    box-shadow: none;
    color: #F85235;
    cursor: pointer;
}
h2 a:visited, h3 a:visited {
    background-color: #f8f8f8;
    color: #F85235;
    cursor: pointer;
}
h2 a:hover, h2 a:visited:hover,
h3 a:hover, h3 a:visited:hover {
    background-color: #f8f8f8;
    color: #A71E06;
    cursor: pointer;
}

nav a:link, nav a:visited {
    background-color: #f8f8f8;
    color: #2f2f2f;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    line-height: 1.2;
}
nav a:hover, nav a:focus {
    background-color: #A71E06;
    color: #f8f8f8;
}

nav a:visited:hover {
    background-color: #F85235;
    color: #f8f8f8;
}

nav li {
    display: inline-block;
    padding: 0.5rem;
    margin: 0;
}

nav ul {
    display: inline;
}

nav a.current {
    border-bottom: 0.25rem solid #2f2f2f;
}

.logo:link, .logo:visited {
    background: none;
    border-bottom: none;
    box-shadow: none;
    display: inline-block;
    fill: #2f2f2f;
    margin: 0.5rem 1rem 0.5rem 0;
    vertical-align: middle;
    width: 3rem;
}
.logo:hover, .logo:focus, .logo:visited:hover {
    fill: #A71E06;
}

.secondary li {
    display: block;
    padding: 0.5rem 0;
}
    @media (min-width: 600px) {
        .secondary li {
            padding: 0.5rem 2rem;
        }
    }
    @media (min-width: 900px) {
        .secondary li {
            padding: 0.5rem 3rem;
        }
    }

/* Reveal and hide styles ------------------------------ */

.xtarget:target {
    margin-top: -3rem;
    padding-top: 7rem;
}

a.skip {
    left: -999px;
    overflow: hidden;
    position: absolute;
    top: 0.5rem;
    z-index: -999;
}
a.skip:focus, a.skip:active {
    background-color: #2f2f2f;
    border: 0;
    border-radius: 0 5rem 5rem 0;
    color: #f8f8f8;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    left: 0;
    overflow: auto;
    padding: 1.25rem 1.75rem;
    z-index: 999;
}