/* Global styles -------------------- */
*, *:before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
}
    @media (min-width: 600px) {
        html {
            font-size: 105%;
        }
    }
    @media (min-width: 900px) {
        html {
            font-size: 110%;
        }
    }
    @media (min-width: 1200px) {
        html {
            font-size: 120%;
        }
    }

.header, .footer, .content {
    padding: 1.2rem;
}
    @media (min-width: 600px) {
        .header, .footer, .content {
            padding: 1.2rem 3.583rem;
        }
    }
    @media (min-width: 900px) {
        .header, .footer, .content {
            padding: 1.2rem 6.192rem;
        }
    }


.header {
    background-color: #ffffff;
    display: block;
    grid-column: 1 / -1;
    margin: 0;
    position: sticky;
    top: 0;
}

.content {
    background: #f8f8f8 url(../images/moms-hair-corner.png) no-repeat top right;
    color: #2f2f2f;
    transition: all .4 ease-in;
}
@supports (display: grid) {
    @media (min-width: 600px) {
        .content {
            display: grid;
            grid-gap: 0 3.583rem;
            grid-template-columns: minmax(20rem, 30rem ) minmax(5rem, 10rem);
        }
    }
    @media (min-width: 900px) {
        .content {
            background: #f8f8f8 url(../images/moms-hair-side.png) no-repeat top right;
            grid-gap: 0 6.192rem;
        }
    }
}

.content-wrapped {
    max-width: 30rem;
}

.style {
    background: #f8f8f8 url(../images/moms-hug-corner.png) no-repeat top right;
}
    @media (min-width: 900px) {
        .style {
            background: #f8f8f8 url(../images/moms-hug-side.png) no-repeat top right;
        }
    } 

.footer {
    background: #f8f8f8 url(../images/mom-walks.png) no-repeat top right;
    padding-bottom: 6.192rem;
}

/* Navigation styles -------------------- */

.nav-main ul {
    display: flex;
    grid-auto-flow: column;
    justify-content: space-between;
    list-style: none;
    max-width: 15rem;
}

.nav-main li, .nav-aside li {
    font: 700 1rem/1.2 'Raleway', Helvetica, sans-serif;
    margin-right: 1.728rem;
}

.nav-main a:link, .nav-main a:visited,
.nav-aside a:link, .nav-aside a:visited {
    color: #2f2f2f;
    cursor: pointer;
    fill: #2f2f2f;
}

.nav-main a:hover, .nav-main a:visited:hover,
.nav-aside a:hover, .nav-aside a:visited:hover {
    fill: #f96c53;
    text-decoration: none;
}

.current {
    border-bottom: 5px solid #2f2f2f;
    text-decoration: none;
}

.nav-aside ul {
    display: block;
    list-style: none;
    margin-top: 3rem;
    position: unset;
}
    @supports (display: grid) {
        @media (min-width: 600px) {
            .nav-aside ul {
                position: fixed;
                top: 8rem;
            }
        }
    }

.nav-aside li {
    margin: 1.2rem 0;
}

/* Texts styles -------------------- Modular scale of a 1.2 ratio */

p, li {
    font: normal 1rem/1.6 'Georgia', Times, serif;
    margin: 1.2rem 0;
}

h1 {
    font: 700 2.986rem/1.2 'Raleway', Helvetica, sans-serif;
}

h2 {
    font: 700 2.488rem/1.2 'Raleway', Helvetica, sans-serif;
}

h3 {
    font: 700 2.074rem/1.2 'Raleway', Helvetica, sans-serif;
}

h4 {
    font: 700 1.728rem/1.2 'Raleway', Helvetica, sans-serif;
}

h5 {
    font: 700 1.44rem/1.2 'Raleway', Helvetica, sans-serif;
}

.heading {
    margin: 2.488rem 0 1.2rem;
}

.tagline {
    font: italic 1.44rem/1.6 'Georgia', Times, serif;
}

.intro {
    font: italic 1.2rem/1.6 'Georgia', Times, serif;
}

.strong {
    font-weight: bold;
}

.subtle {
    font-style: italic;
}

.intro-hr {
    background-color: #f96c53;
    border: none;
    color: #f96c53;
    height: 5px;
    margin: 2rem 0 0;
    width: 6rem;
}

figcaption, .note {
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 1.2rem;
}

.quote {
    background-color: #ffffff;
    border-radius: 3px;
    font-size: 1.125rem;
    margin: 3rem -3rem 3rem;
    padding: .5rem 3rem 1rem;
}
    @media (min-width: 600px) {
        .quote {
            margin: 2.5rem 0;
            padding: .25 3rem 1rem;
        }
    }
.quote p {
    text-indent: -.5rem;
}

/* Link styles -------------------- */

.link:link, .link:visited, .cta:link, .cta:visited {
    background-color: #fcdad4;
    border-radius: 3px;
    color: #2f2f2f;
    display: inline-block;
    padding: 0 .25rem;
    transition: all .4s ease-in;
}

.link:hover, .link:visited:hover, .link:focus,
.cta:hover, .cta:visited:hover, .cta:focus {
    background-color: #fba798;
    text-decoration: none;
}

.cta:link, .cta:visited {
    font: 700 1.25rem/1.6 'Raleway', Helvetica, sans-serif;
    margin: 1.44rem 0 1.2rem;
    padding: .25rem .5rem;
}

.heading a:link, .heading a:visited  {
    background-color: transparent;
    color: #f96c53;
}

.heading a:hover, .heading a:visited:hover  {
    text-decoration: none;
}

a.skip {
    left: -999px;
    overflow: hidden;
    position: absolute;
    top: 1rem;
    z-index: -999;
}

a.skip:focus, a.skip:active {
    background-color: #f96c53;
    border-radius: 3px;
    color: #2f2f2f;
    display: block;
    font: 700 .75rem/1.2 'Raleway', Helvetica, sans-serif;
    left: 0;
    overflow: auto;
    padding: .5rem;
    top: 0;
    z-index: 999;
}

.xtarget:target {
    margin-top: -3rem;
    padding-top: 7rem;
}

.logo {
    width: 3rem;
}

/* Image styles -------------------- */

img {
    border-radius: 3px;
    max-width: 100%;
    margin: 1rem 0;
}

.persona {
    max-width: 15rem;
}

.min-long {
    height: auto;
    max-width: 180px;
}

.min-short {
    height: auto;
    max-width: 120px;
}

.logo-colour {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

/* Colour styles -------------------- */

/* Colour palette 
    #2f2f2f black
    #f8f8f8 white
    #f0f0f0 light grey
    #fcdad4 lightest accent
    #fba798 light accent
    #f96c53 accent
    #dd2808 dark accent
    #a71e06 darkest accent
*/

.square {
    border: 2px solid transparent;
    border-radius: 3px;
    display: inline-block;
    height: 8rem;
    margin: .75rem 1rem .5rem 0;
    padding: .5rem;
    width: 8rem;
}

.border {
    border: 1px solid #2f2f2f;
}

.border-light {
    border: 1px solid #f0f0f0;
}

.bg--dark {
    background-color: #2f2f2f;
    color: #f0f0f0;
}

.bg--darkest-accent {
    background-color: #a71e06;
    color: #ffffff;
}

 .bg--dark-accent {
     background-color: #dd2808;
     color: #ffffff;
 }

.bg--accent {
    background-color: #f96c53;
    color: #2f2f2f;
}

.bg--light-accent, ::selection {
    background: #fba798;
    background-color: #fba798;
    color: 2f2f2f;
}

.bg--lightest-accent {
    background-color: #fcdad4;
    color: 2f2f2f;
}

.bg--light {
    background-color: #f8f8f8;
    color: #2f2f2f;
}

